// Variables
$topTeal-color:#2D5F5D;
$top-color: #e4ef8e;
$middleBttm-color: #A4C3C4;
$lightBttm-bg: #f4f6f8;
$text-dark: #222;

body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: $middleBttm-color;
}